@media (max-width: 768px){

/* generales */

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

h4{
    font-size: 2rem;
}

p{
    font-size: 1.7rem;
    line-height: 2.7rem;
}

.texto_secundarios{
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.up__contenedor{
    position: fixed;
    z-index: 2000;
    top: 85%;
    left: 75%;
}

.navbar{
    justify-content: flex-end;
    width: 80%;
}

/* ----------header---------- */

header{
    position: absolute;
    width: 100%;
    top: 0px;
    padding: 30px 0px 30px 0px;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .logoIndex{
        margin-right: -220px;
    }
    nav{
        margin-left: 10vh;
        ul{
            padding: 0px;
            margin: 30px 0px 0px 0px;
            font-weight: 400;
            font-size: 2rem;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            :hover{
                font-style: italic;
                color: #27424e;
            }
            li{

                padding: 20px 0px 20px 0px;
                width: auto;
                border-bottom: #27424e solid 1px;
                a{
                    text-decoration: none;
                    color: #27424e;
                }
            }
            .estoyEnEstaSeccion{
                color: #75b1a3;
            }
        }
        .redes{
            img{
                width: 26px;
                vertical-align: middle;
                padding-right: 10px;
            }
            .behance{
                width: 29px;
            }
        }
    }
}

/* ----------index---------- */

#gridIndex{
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 180px auto auto auto auto auto;
    grid-template-areas:
    ". . ."
    ". moneda ."
    ". intro ."
    "ferrero ferrero ferrero"
    "agenda agenda agenda"
    "tortugas tortugas tortugas"
    ". footer .";
}

/* ----------intro---------- */

section#moneda{
    justify-self: center;
}
    
    section#intro{
    text-align: center;
}
    
/* ----------portfolios---------- */

section#ferrero{
    margin-top: 50px;
    img{
        height: auto;
    }
    div{
        flex-direction: column;
        align-items: center;
        height: 400px;
        h3{
            text-align: center;
            a{
                text-align: center;
            }
        }
    }
}

section#agenda{
    div{
        flex-direction: column;
        align-items: center;
        h3{
            text-align: center;
            a{
                text-align: center;
            }
        }
    }
}

section#tortugas{
    div{
        flex-direction: column;
        align-items: center;
        h3{
            text-align: center;
            a{
                text-align: center;
            }
        }
    }
}

/* ----------footer---------- */

footer{
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px 80px 0px;
    div{
        font-size: 1.5rem;
        margin-top: 30px;
        text-align: center;
        div{
            margin: 20px 0px 0px 20px ;
        }
    }
}

/* ----------nosotros---------- */

#gridNosotros{
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 320px auto auto auto auto auto;
    grid-template-areas:
    ". . ."
    ". constanza ."
    ". descripcionConstanza ."
    ". pablo ."
    ". descripcionPablo ."
    ". footer .";
}

section#constanza{
    img{
        width: 200px;
    }
}
    
section#pablo{
    img{
        width: 200px;
    }
}
    
section#descripcionPablo{
    margin-bottom: 50px;
}

/* ----------proyectos---------- */

#gridProyecto{
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 320px auto auto auto auto;
    grid-template-areas:
    ". . ."
    ". portfolioGeneral ."
    ". portfolioDescripcion ."
    "portfolioMockups portfolioMockups portfolioMockups"
    ". footer .";
}

/* ----------shop---------- */

#gridShop{
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 320px auto auto;
    grid-template-areas:
    ". . ."
    "carrousel carrousel carrousel"
    ". footer .";
}

/* ----------contacto---------- */

#gridContacto{
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 320px auto auto auto auto auto auto;
    grid-template-areas:
    ". . ."
    "map map map"
    ". aqui ."
    ". aquiDerecha ."
    ". form ."
    ". formDerecha ."
    ". footer .";
}

section#aquiDerecha{
    grid-area: aquiDerecha;
    align-self: baseline;
    margin-bottom: 50px;
    div.datos{
        display: flex;
        flex-direction: column;
        div{
            margin: 25px 0px 25px 0px;
            .redes{
                vertical-align: middle;
                padding: 50px 20px 0px 0px;
                .behance{
                    width: 20px;
                }
            }
        }
    }
    p.intro_datos{
        width: auto;
    }
}

label{
    font-size: 1.7rem;
    line-height: 2.5rem;
}

section#formDerecha{
    form{
        input[type=submit], input[type=reset]{
            font-size: 1.5rem;
        }
    }
}
}